@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Montserrat:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap');

body{
max-width: 1440px;
}

h1{
position: absolute;
width: 133px;
height: 25px;
left: 77px;
top: 40px;

font-family: "Inconsolata";
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 25px;
letter-spacing: -0.08em;
text-transform: uppercase;

color: #333333;
}

main{
  width:100%;
position: absolute;
left: 77px;
top: 265px;
display: flex;
flex-direction: row;
}
.Scarecrow{
width: 539.22px;
height:447.43px;
}

h2{

width: 586px;
height: 190px;


font-family: "Space Mono";
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 95px;
letter-spacing: -0.035em;

/* Gray 1 */
color: #333333;

}
p{

width: 381px;
height: 108px;


font-family: "Space Mono";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.035em;

/* Gray 2 */
color: #4F4F4F;
}

.home-button{
/* Rectangle 71 */  

width: 216px;
height: 68px;


/* Gray 1 */
background: #333333;
}
.home-button:hover{
  cursor: pointer;
}
footer{
width: 100%;
margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
footer>span{

width: 287px;
height: 17px;


font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
  
/* identical to box height */

text-align: center;

color: #BDBDBD;

}

em{
  font-style: normal;
  font-weight: bold;
}

@media(max-width: 800px){
  h1{
left: 24px;
    top: 20px;
  }
  main{
  flex-direction: column;
  }
  h2{
  width: 350px;
height: 142px;

    font-size: 48px;
line-height: 71px;
  }
  p{
  width: 328px;
height: 81px;

    font-size: 18px;
line-height: 27px;
  }
  .home-button{
  left: 24px;
top: 726px;
  }
  footer{
    left: 46px;
top: 908px;
  }
}
