@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Montserrat:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap');

body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100vh;
}

h1{
  
margin-left: 5.3%;
margin-top: 3.7%;
margin-bottom:0;

font-family: "Inconsolata";
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 25px;
letter-spacing: -0.08em;
text-transform: uppercase;

color: #333333;

}


main{

margin-left: 5.35%;
margin-top:18.5vh;
  
width:89.3%;

display: flex;
flex-direction: row;
}

.Scarecrow{
width: 41.9%;
height:41.9%;

margin-right:9.2%;
}
.Scarecrow-img{
  width:100%;
  height:100%;
max-width:539.22px;
max-height:447.43px;
  float:right;
}
h2{
margin-top: 0px;
max-width:586px;
  
font-family: "Space Mono";
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 95px;
letter-spacing: -0.035em;

color: #333333;

}
p{
margin-top: 36px; 
max-width: 381px;
 
font-family: "Space Mono";
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.035em;

color: #4F4F4F;
}

.home-button{
width: 216px;
height: 68px;  
margin-top: 64px;
  
font-family: "Space Mono";
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.035em;
text-transform: uppercase;
color: #FFFFFF;

background: #333333;
}

.home-button:hover{
  cursor: pointer;
}

footer{
padding-top: 24px;
padding-bottom: 24px;  
width: 100%;

  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

footer> span{
width: 287px;
height: 17px;

font-family: "Montserrat";
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #BDBDBD;
}

em{
  font-style: normal;
  font-weight: bold;
}

@media(max-width: 1000px){
  h1{
    margin-left:6.4%;
    margin-top: 20px;
  }
  
  main{
  margin-top:64px;
  margin-left:6.4%;
  width:87.2%;
  flex-direction: column;
  }
  
  .Scarecrow{
 margin-left: 6.1%;
margin-right:auto;
    width:87.5%;
    height:87.5%;
  }
  
  .Scarecrow-img{
max-width:100%;
max-height:100%;
  }

  h2{
margin-top: 60px;
font-size: 48px;
line-height: 71px;
    
max-width:100%;
  }
  
  p{

    margin-top: 30px; 
    font-size: 18px;
    line-height: 27px;
  }

}
